# macOS / editor
.DS_Store
.idea/
.vscode/

# logs
*.log

# Node.js
apps/node/node_modules/
apps/node/npm-debug.log*
apps/node/.npmrc.local
apps/go/gui/frontend/node_modules/
apps/go/gui/frontend/.vite/
apps/go/gui/frontend/dist/

# Go
apps/go/bin/
apps/go/*.exe
apps/go/*.test
apps/go/4px
apps/go/client.json
apps/go/gui/gui
apps/go/gui/build/bin/
apps/go/gui/build/appicon.iconset/

# Temp
tmp/
dist/
